{% extends 'shop/main.html' %}

{% block content %}
<div class="register-container">
    <h2>Zarejestruj się</h2>
    <form method="POST" id="registerform" class="register-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-primary">Utwórz konto</button>
    </form>
</div>

<style>
    .register-container {
        max-width: 400px; 
        margin: auto; 
        padding: 20px; 
        border: 1px solid #ccc; 
        background-color: #fff; 
        box-shadow: 0 0 10px rgba(0,0,0,0.1); 
        text-align: center; 
    }

    .register-form {
        text-align: left; 
        margin-bottom: 20px; 
    }

    .form-group {
        margin-bottom: 10px; 
    }

    .form-control {
        width: 100%; 
        padding: 8px; 
        font-size: 16px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
    }

    label {
        display: block; 
        margin-bottom: 5px; 
        
    }


</style>

{% endblock %}
